<!DOCTYPE html>
<html>
    <head>
        <title>Pokemon Stop Map</title>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
    </head>
    <body>
        <div id='printoutPanel'></div>
        
        <div id='stopMap' style='width: 100vw; height: 100vh;'></div>
        <script type='text/javascript'>
           function get_pushpin_from_fort(fort) {
               var pushpin = undefined;
               if (fort["gymteam"] !== null) {
                   pushpin = new Microsoft.Maps.Pushpin(
                           new Microsoft.Maps.Location(fort["latitude"], fort["longitude"]), 
                           { icon: 'https://s3-us-west-2.amazonaws.com/pokemon-map/icons/pharmacy-icon' + fort["gymteam"] + '.png',
                             height: 39,
                             width: 25,
                             anchor: new Microsoft.Maps.Point(12, 25) });
               }
               else {
                   pushpin = new Microsoft.Maps.Pushpin(
                           new Microsoft.Maps.Location(fort["latitude"], fort["longitude"]), 
                           { icon: 'https://s3-us-west-2.amazonaws.com/pokemon-map/icons/pokeball.png',
                             height: 20,
                             width: 20,
                             anchor: new Microsoft.Maps.Point(0, 0) });
               }
               return pushpin
           }


            function loadMapScenario() {
                // init map
                var map = new Microsoft.Maps.Map(document.getElementById('stopMap'), {
                    credentials: 'AjDchhYNn7_bhP8UG8iRnhGEk3gq4wl7hxkORwk3eJa9HWFONQERXGMglVEQ0pPw',
                    enableClickableLogo: false,
                    enableSearchLogo: false,
                    showDashboard: false,
                    tileBuffer: 4,
                    useInertia: false,
                    showMapTypeSelector: false,
                });
                if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
                    map.setView({zoom: 17});
                }
                else {
                    map.setView({zoom: 15});
                }

                // Change initial view if possible
                if (navigator.geolocation) {
                  function set_initial_view(position) {
                    map.setView({
                        center: new Microsoft.Maps.Location(position.coords.latitude, position.coords.longitude),
                    });
                  }
                  navigator.geolocation.getCurrentPosition(set_initial_view);
                }
                else {

                }

                function update_map(map) {

                    // Query pokemon stops
                    bounds = map.getBounds()
                    northWest = bounds.getNorthwest()
                    southEast = bounds.getSoutheast()

                    var xhttp = new XMLHttpRequest()
                    xhttp.onreadystatechange = function() {
                      if (xhttp.readyState == 4 && xhttp.status == 200) {
                        var layer = new Microsoft.Maps.Layer();
                        // parse forts to pins
                        fort_list = JSON.parse(xhttp.responseText);
                        for (var i in fort_list) {
                           var fort = fort_list[i];
                           if (fort["latitude"] === undefined) {
                                continue;
                           }
                           var pushpin = get_pushpin_from_fort(fort)
                           layer.add(pushpin)
                        }

                        // Update map with latest pins
                        map.layers.clear();
                        map.layers.insert(layer);
                      }
                    };
                    query_url = ("/query?" + "west=" + northWest.longitude
                               + "&north=" + northWest.latitude
                               + "&east=" + southEast.longitude
                               + "&south=" + southEast.latitude);
                    xhttp.open("GET", query_url, true);
                    xhttp.send();
                }

                // Update the view changed counter after 2 seconds each time
                Microsoft.Maps.Events.addThrottledHandler(map, 'viewchangeend', function () {
                    update_map(map)
                }, 2000);
            }
        </script>
        <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?branch=release&callback=loadMapScenario' async defer></script>
        <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

    </body>
</html>
