<!DOCTYPE html>
<html lang="en">
<head>
   <title>mypokemon.io -- Your Pokemon Map</title>
   <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 100%}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;}
    }
  </style>
</head>
<body>


<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h3>mypokemon.io</h3>
      <h4> -- Your Pokemon Map</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><button class="btn btn-default" onclick="query_pokemon()">Pokemon</button></li>
        <li><button class="btn btn-default" onclick="query_fort()">Pokestop and Gym</li>
        <li><button id="showExpireButton" class="btn btn-default" onclick="toggle_show_expire()">Show Expire Time</li>
      </ul><br>
    </div>

    <div  class="col-sm-9">
        <div id="stopMap" style="min-height: 300px;height:100vh" class="col-sm-10">
        </div>
    </div>
  </div>
</div>

        <script type='text/javascript'>
            var query_type = "pokemon"
            var map = undefined
            var show_expire = false

            var now_time = (new Date).getTime() / 1000;
            function get_pushpin_from_map_item(map_item) {
                var icon_url = undefined;
                var title = "";
                if (map_item['pokemon_id'] !== undefined) {
                    icon_url = 'https://s3-us-west-2.amazonaws.com/pokemon-map/icons/pokemon/' + map_item['pokemon_id'] + '.png';
                    if (show_expire) {
                        title = (new Date(map_item['expire'])).toLocaleTimeString('en-GB')
                    }
                }
                else if (map_item["gymteam"] !== null) {
                    icon_url = 'https://s3-us-west-2.amazonaws.com/pokemon-map/icons/pharmacy-icon' + map_item["gymteam"] + '.png';
                }
                else if (map_item['lure'] > now_time) {
                         icon_url = 'https://s3-us-west-2.amazonaws.com/pokemon-map/icons/pokeball_lure.png';
                }
                else {
                     icon_url = 'https://s3-us-west-2.amazonaws.com/pokemon-map/icons/pokeball.png';
                }
                var pushpin = new Microsoft.Maps.Pushpin(
                            new Microsoft.Maps.Location(map_item["latitude"], map_item["longitude"]), 
                            { icon: icon_url,
                              title: title,
                              anchor: new Microsoft.Maps.Point(0, 0) });
                return pushpin
            }

            function loadMapScenario() {
                // init map
                map = new Microsoft.Maps.Map(document.getElementById('stopMap'), {
                    credentials: 'AjDchhYNn7_bhP8UG8iRnhGEk3gq4wl7hxkORwk3eJa9HWFONQERXGMglVEQ0pPw',
                    enableClickableLogo: false,
                    enableSearchLogo: false,
                    showDashboard: false,
                    tileBuffer: 4,
                    useInertia: false,
                    showMapTypeSelector: false,
                });
                if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
                    map.setView({zoom: 17});
                }
                else {
                    map.setView({zoom: 15});
                }

                // Change initial view if possible
                if (navigator.geolocation) {
                  function set_initial_view(position) {
                    map.setView({
                        center: new Microsoft.Maps.Location(position.coords.latitude, position.coords.longitude),
                    });
                  }
                  navigator.geolocation.getCurrentPosition(set_initial_view);
                }
                else {

                }
            }

            var last_update = new Date().getTime() / 1000;
            var update_mark = false;
            function update_map() {
                var now = new Date().getTime() / 1000;
                if (now - last_update < 1) {
                    return;
                }
                last_update = now
                update_mark = true

                // Query pokemon stops
                bounds = map.getBounds()
                northWest = bounds.getNorthwest()
                southEast = bounds.getSoutheast()

                var xhttp = new XMLHttpRequest()
                xhttp.onreadystatechange = function() {
                  update_mark = false
                  if (xhttp.readyState == 4 && xhttp.status == 200) {
                    var layer = new Microsoft.Maps.Layer();
                    // parse map items to pins
                    item_list = JSON.parse(xhttp.responseText);
                    for (var i in item_list) {
                       var item = item_list[i];
                       if (item["latitude"] === undefined) {
                            continue;
                       }
                       var pushpin = get_pushpin_from_map_item(item)
                       layer.add(pushpin)
                    }

                    // Update map with latest pins
                    map.layers.clear();
                    map.layers.insert(layer);
                  }
                };
                query_url = ("/query/" + query_type + "?west=" + northWest.longitude
                           + "&north=" + northWest.latitude
                           + "&east=" + southEast.longitude
                           + "&south=" + southEast.latitude);
                xhttp.open("GET", query_url, true);
                xhttp.send();
            }


            function query_pokemon() {
                query_type = "pokemon";
            }
            function query_fort() {
                query_type= "fort"
            }
            function toggle_show_expire() {
                show_expire = (show_expire === false);
            }

            window.setInterval(update_map, 2000)

        </script>
        <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?branch=release&callback=loadMapScenario' async defer></script>

    <!-- google ads -->

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- pokemon1 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-7776910507991738"
         data-ad-slot="1980325006"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <!-- google analytics -->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-78900217-2', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- copyright -->

        <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>



<footer class="container-fluid">
  <p></p>
</footer>

</body>
</html>



